<!DOCTYPE html>
<html lang="zh-Hans" xmlns:th="http://www.thymeleaf.org">
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
  <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
  <title>Flash Sale Activity Publication</title>
  <link rel="stylesheet" type="text/css" href="/css/all.css" />
  <link rel="stylesheet" type="text/css" href="/css/pages-getOrderInfo.css" />
</head>

<body>
<!--head-->
<div id="nav-bottom">
  <div class="nav-top">
    <div class="top">
      <div class="py-container">
        <div class="shortcut">
          <ul class="fl">
            <li class="f-item"></li>
            <li class="f-item">Please<a href="login.html" target="_blank">Login</a>　<span><a href="register.html"
                                                                                             target="_blank">Register</a></span></li>
          </ul>
          <div class="fr typelist">
            <ul class="types">
              <li class="f-item"><span>My Order</span></li>

              <li class="f-item"><span><a href="cart.html" target="_blank">My Shopping Cart</a></span></li>
              <li class="f-item"><span>Enterprise Procurement</span></li>
              <li class="f-item"><span><a href="cooperation.html" target="_blank">Investment</a></span></li>
              <li class="f-item"><span><a href="shoplogin.html" target="_blank">Retailers</a></span></li>
              <li class="f-item"><span>Navigation</span></li>
            </ul>
          </div>

        </div>
      </div>
    </div>

    <div class="header">
      <div class="py-container">
        <div class="yui3-g Logo">
          <div class="yui3-u Left logoArea">
            <a class="logo-bd" title="Logo" href="index.html" target="_blank"></a>
          </div>
          <div class="yui3-u Rit searchArea">
            <div class="search">
              <form action="" class="sui-form form-inline">
                <!--searchAutoComplete-->
                <div class="input-append">
                  <input type="text" id="autocomplete" class="input-error input-xxlarge" />
                  <button class="sui-btn btn-xlarge btn-danger" type="button">Search</button>
                </div>
              </form>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>



<div class="cart py-container" id="cart">
  <div class="checkout py-container">
    <div class="checkout-tit">
      <h4 class="tit-txt">Add Flash Sale Activity</h4>
    </div>
    <div class="checkout-steps">
      <div class="hr"></div>
      <div class="payshipInfo">
        <div class="hr"></div>
        <div class="step-cont">
          <ul class="send-detail">
            <li>
              <div class="sendGoods">
                <!--go to /addSeckillActivityAction this path-->
                <form th:action="@{/addSeckillActivityAction}" method="post">
                  Flash Sale Activity Name:<input type="text" name="name"><br><br>
                  Commodity ID：<input type="text" name="commodityId"><br><br>
                  Price On Sale：<input type="text" name="seckillPrice"><br><br>
                  Original Price：<input type="text" name="oldPrice"><br><br>
                  Available Number of the Commodity：<input type="text" name="seckillNumber"><br><br>
                  Start Time：<input type="datetime-local" name="startTime"><br><br>
                  End Time：<input type="datetime-local" name="endTime"><br><br>
                  <input type="submit" value="Submit">
                </form>
              </div>

            </li>
          </ul>
        </div>
        <div class="hr"></div>
      </div>
    </div>
  </div>
</div>

<div class="clearfix footer">
  <div class="py-container">
    <div class="footlink">
      <div class="Mod-service">
        <ul class="Mod-Service-list">
          <li class="grid-service-item intro  intro1">

            <i class="serivce-item fl"></i>
            <div class="service-text">
              <h4>100% Authentic Guarantee</h4>
              <p>Quality Guarantee</p>
            </div>

          </li>
          <li class="grid-service-item  intro intro2">

            <i class="serivce-item fl"></i>
            <div class="service-text">
              <h4>100% Authentic Guarantee</h4>
              <p>Quality Guarantee</p>
            </div>

          </li>
          <li class="grid-service-item intro  intro3">

            <i class="serivce-item fl"></i>
            <div class="service-text">
              <h4>100% Authentic Guarantee</h4>
              <p>Quality Guarantee</p>
            </div>

          </li>
          <li class="grid-service-item  intro intro4">

            <i class="serivce-item fl"></i>
            <div class="service-text">
              <h4>100% Authentic Guarantee</h4>
              <p>Quality Guarantee</p>
            </div>

          </li>
          <li class="grid-service-item intro intro5">

            <i class="serivce-item fl"></i>
            <div class="service-text">
              <h4>100% Authentic Guarantee</h4>
              <p>Quality Guarantee</p>
            </div>

          </li>
        </ul>
      </div>
      <div class="clearfix Mod-list">
        <div class="yui3-g">
          <div class="yui3-u-1-6">
            <h4>Shopping Guidance</h4>
            <ul class="unstyled">
              <li>Shopping Process</li>
              <li>Membership</li>
              <li>Group Buying</li>
              <li>Recent Q&A</li>
              <li>Shopping Guidance</li>
            </ul>

          </div>
          <div class="yui3-u-1-6">
            <h4>Ways of Delivery</h4>
            <ul class="unstyled">
              <li>Pick Up</li>
              <li>Delivery</li>
              <li>Search Delivery Service</li>
              <li>Delivery Fees</li>
              <li>International Delivery</li>
            </ul>
          </div>
          <div class="yui3-u-1-6">
            <h4>Payment Method</h4>
            <ul class="unstyled">
              <li>Cash on Delivery</li>
              <li>Online Payment</li>
              <li>Installment Plans</li>
              <li>Pay by Mail</li>
              <li>Enterprise Payments</li>
            </ul>
          </div>
          <div class="yui3-u-1-6">
            <h4>Service</h4>
            <ul class="unstyled">
              <li>Service Policy</li>
              <li>Price Protection</li>
              <li>Refund Policy</li>
              <li>Repair/Return/Exchange Policy</li>
              <li>Cancel Order</li>
            </ul>
          </div>
          <div class="yui3-u-1-6">
            <h4>Special Service</h4>
            <ul class="unstyled">
              <li>Auction</li>
              <li>DIY</li>
              <li>Extended Warranty Service</li>
              <li>B2B2C Platform E-Card</li>
              <li>B2B2C Platform Contact</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="js/plugins/jquery/jquery.min.js"></script>

<script src="/js/vue.js"></script>
<script src="/js/axios.js"></script>
</body>

</html>
