<!DOCTYPE html>
<html lang="zh-Hans">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
  <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
  <title>Item information</title>
  <link rel="icon" href="/img/jiuzhanglogo.png">

  <link rel="stylesheet" type="text/css" href="/css/all.css" />
  <link rel="stylesheet" type="text/css" href="/css/pages-seckill-item.css" />
  <link rel="stylesheet" type="text/css" href="/css/pages-zoom.css" />
</head>

<body>
  <div id="nav-bottom">
    <div class="nav-top">
      <div class="top">
        <div class="py-container">
          <div class="shortcut">
            <ul class="fl">
              <li class="f-item">Welcome！</li>
              <li class="f-item">Please<a href="login.html" target="_blank">login</a>　<span><a href="register.html"
                    target="_blank">Register</a></span></li>
            </ul>
            <div class="fr typelist">
              <ul class="types">
                <li class="f-item"><span>My Order</span></li>

                <li class="f-item"><span><a href="cart.html" target="_blank">My Shopping Cart</a></span></li>
                <li class="f-item"><span><a href="home.html" target="_blank">My Account</a></span></li>
                <li class="f-item"><span>Membership</span></li>
                <li class="f-item"><span>Enterprise Procurement</span></li>
                <li class="f-item"><span>Follow us!</span></li>
                <li class="f-item"><span><a href="cooperation.html" target="_blank">Investment</a></span></li>
                <li class="f-item"><span><a href="shoplogin.html" target="_blank">Retailers</a></span></li>
                <li class="f-item"><span>Navigation</span></li>
              </ul>
            </div>

          </div>
        </div>
      </div>

      <div class="header">
        <div class="py-container">
          <div class="yui3-g Logo">
            <div class="yui3-u Left logoArea">
              <a class="logo-bd" title="Flash Sale" href="index.html" target="_blank"></a>
            </div>
            <div class="yui3-u Rit searchArea">
              <div class="search">
                <form action="" class="sui-form form-inline">
                  <!--searchAutoComplete-->
                  <div class="input-append">
                    <input type="text" id="autocomplete" class="input-error input-xxlarge" />
                    <button class="sui-btn btn-xlarge btn-danger" type="button">Search</button>
                  </div>
                </form>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="py-container">
    <div id="item">
      <div class="crumb-wrap">
        <ul class="sui-breadcrumb">
          <li>
            <a href="#">Phone、Pixels、Network</a>
          </li>
          <li>
            <a href="#">Phone</a>
          </li>
          <li>
            <a href="#">Apple</a>
          </li>
          <li class="active">iphone 6S</li>
        </ul>
      </div>
      <!--product-info-->
      <div class="product-info">
        <div class="fl preview-wrap">
          <div class="zoom">
            <div id="preview" class="spec-preview">
              <span class="jqzoom"><img jqimg="/img/_/b1.png" src="/img/_/s1.png" /></span>
            </div>
            <div class="spec-scroll">
              <a class="prev">&lt;</a>
              <div class="items">
                <ul>
                  <li><img src="/img/_/s1.png" /></li>
                  <li><img src="/img/_/s2.png" bimg="../img/_/b2.png" onmousemove="preview(this)" /></li>
                  <li><img src="/img/_/s3.png" bimg="../img/_/b3.png" onmousemove="preview(this)" /></li>
                  <li><img src="/img/_/s1.png" bimg="../img/_/b1.png" onmousemove="preview(this)" /></li>
                  <li><img src="/img/_/s2.png" bimg="../img/_/b2.png" onmousemove="preview(this)" /></li>
                  <li><img src="/img/_/s3.png" bimg="../img/_/b3.png" onmousemove="preview(this)" /></li>
                  <li><img src="/img/_/s1.png" bimg="../img/_/b1.png" onmousemove="preview(this)" /></li>
                  <li><img src="/img/_/s2.png" bimg="../img/_/b2.png" onmousemove="preview(this)" /></li>
                  <li><img src="/img/_/s3.png" bimg="../img/_/b3.png" onmousemove="preview(this)" /></li>
                </ul>
              </div>
              <a class="next">&gt;</a>
            </div>
          </div>
          <div class="product-collect">
            <a href="javascript:;" id="star"><img src="/img/_/shi_heart.png" alt=""> Put to wishlist</a>
          </div>
        </div>
        <div class="fr itemInfo-wrap">
          <div class="sku-name">
            <h4>For seniors</h4>
          </div>
          <div class="news">
            <span><img src="/img/_/clock.png" />Flash Sale</span>
            <span class="overtime">Time left：01:56:78</span>
          </div>
          <div class="summary">
            <div class="summary-wrap">

              <div class="fl title">
                <i>Price</i>
              </div>
              <div class="fl price">
                <i>¥</i>
                <em>￥88.88</em>
                <span>Notification of promotion</span>
              </div>
              <div class="fr remark">
                <i>Reviews</i><em>612188</em>
              </div>
            </div>
            <div class="summary-wrap">
              <div class="fl title">
                <i>Promotion</i>
              </div>
              <div class="fl fix-width">
                <i class="red-bg">Sale Activity</i>
                <em class="t-gray">More than 999.00 and pay more 20.00，can get more rewards when checking out</em>
              </div>
            </div>
          </div>
          <div class="support">
            <div class="summary-wrap">
              <div class="fl title">
                <i>Support</i>
              </div>
              <div class="fl fix-width">
                <em class="t-gray">Trade old one</em>
              </div>
            </div>
            <div class="summary-wrap">
              <div class="fl title">
                <i>Deliver to</i>
              </div>
              <div class="fl fix-width">
                <em class="t-gray">More than 999.00 and pay more 20.00，can get more rewards when checking out</em>
              </div>
            </div>
          </div>
          <div class="clearfix choose">
            <div id="specification" class="summary-wrap clearfix">
              <dl>
                <dt>
                  <div class="fl title">
                    <i>Choose Color</i>
                  </div>
                </dt>
                <dd><a href="javascript:;" class="selected">Gold<span title="Click to cancel">&nbsp;</span>
                  </a></dd>
                <dd><a href="javascript:;">Silver</a></dd>
                <dd><a href="javascript:;">Black</a></dd>
              </dl>
              <dl>
                <dt>
                  <div class="fl title">
                    <i>Storage</i>
                  </div>
                </dt>
                <dd><a href="javascript:;" class="selected">16G<span title="Click to cancel">&nbsp;</span>
                  </a></dd>
                <dd><a href="javascript:;">64G</a></dd>
                <dd><a href="javascript:;" class="locked">128G</a></dd>
              </dl>
              <dl>
                <dt>
                  <div class="fl title">
                    <i>Choose Version</i>
                  </div>
                </dt>
                <dd><a href="javascript:;" class="selected">Public<span title="Click to cancel">&nbsp;</span>
                  </a></dd>
                <dd><a href="javascript:;">Mobile</a></dd>
              </dl>
              <dl>
                <dt>
                  <div class="fl title">
                    <i>Payment Method</i>
                  </div>
                </dt>
                <dd><a href="javascript:;" class="selected">Official set<span title="Click to cancel">&nbsp;</span>
                  </a></dd>
                <dd><a href="javascript:;">T-Mobile promotion</a></dd>
                <dd><a href="javascript:;" class="locked">At&t promotion</a></dd>
              </dl>
              <dl>
                <dt>
                  <div class="fl title">
                    <i>Ancillary items</i>
                  </div>
                </dt>
                <dd><a href="javascript:;" class="selected">Protective items<span title="Click to cancel">&nbsp;</span>
                  </a></dd>
                <dd><a href="javascript:;" class="locked">Charging items</a></dd>

              </dl>


            </div>


            <div class="summary-wrap">
              <div class="fl title">
                <div class="control-group">
                  <div class="controls">
                    <input autocomplete="off" type="text" value="1" minnum="1" class="itxt" />
                    <a href="javascript:void(0)" class="increment plus">+</a>
                    <a href="javascript:void(0)" class="increment mins">-</a>
                  </div>
                </div>
              </div>
              <div class="fl">
                <ul class="btn-choose unstyled">
                  <li>
                    <a href="/seckill/buy/1234/12" target="_blank"
                      class="addshopcar">Purchase it now</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--product-detail-->
      <div class="clearfix product-detail">
        <div class="fl aside">
          <div class="shop">
            <span class="fl">Samsung</span><span class="fr"><a href="shop.html" target="_blank"
                class="sui-btn btn-bordered btn-danger">Go to the store</a></span>
          </div>
          <div class="clearfix"></div>
          <ul class="sui-nav nav-tabs tab-wraped">
            <li class="active">
              <a href="#index" data-toggle="tab">
                <span>Relevant Categories</span>
              </a>
            </li>
            <li>
              <a href="#profile" data-toggle="tab">
                <span>Recommended Brands</span>
              </a>
            </li>
          </ul>
          <div class="tab-content tab-wraped">
            <div id="index" class="tab-pane active">
              <ul class="part-list unstyled">
                <li>Phone</li>
                <li>Phone Case</li>
                <li>Storage</li>
                <li>Iphone Accessories</li>
                <li>Phone Film</li>
                <li>Headphones</li>
                <li>Charger</li>
                <li>Laptop</li>
              </ul>
              <ul class="goods-list unstyled">
                <li>
                  <div class="list-wrap">
                    <div class="p-img">
                      <img src="/img/_/part01.png" />
                    </div>
                    <div class="attr">
                      <em>Apple iPhone 6s (A1699)</em>
                    </div>
                    <div class="price">
                      <strong>
                        <em>¥</em>
                        <i>6088.00</i>
                      </strong>
                    </div>
                    <div class="operate">
                      <a href="javascript:void(0);" class="sui-btn btn-bordered">Buy it now</a>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="list-wrap">
                    <div class="p-img">
                      <img src="/img/_/part02.png" />
                    </div>
                    <div class="attr">
                      <em>Apple iPhone 6s (A1699)</em>
                    </div>
                    <div class="price">
                      <strong>
                        <em>¥</em>
                        <i>6088.00</i>
                      </strong>
                    </div>
                    <div class="operate">
                      <a href="javascript:void(0);" class="sui-btn btn-bordered">Buy it now</a>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="list-wrap">
                    <div class="p-img">
                      <img src="/img/_/part03.png" />
                    </div>
                    <div class="attr">
                      <em>Apple iPhone 6s (A1699)</em>
                    </div>
                    <div class="price">
                      <strong>
                        <em>¥</em>
                        <i>6088.00</i>
                      </strong>
                    </div>
                    <div class="operate">
                      <a href="javascript:void(0);" class="sui-btn btn-bordered">Buy it now</a>
                    </div>
                  </div>
                  <div class="list-wrap">
                    <div class="p-img">
                      <img src="img/_/part02.png" />
                    </div>
                    <div class="attr">
                      <em>Apple iPhone 6s (A1699)</em>
                    </div>
                    <div class="price">
                      <strong>
                        <em>¥</em>
                        <i>6088.00</i>
                      </strong>
                    </div>
                    <div class="operate">
                      <a href="javascript:void(0);" class="sui-btn btn-bordered">Buy it now</a>
                    </div>
                  </div>
                  <div class="list-wrap">
                    <div class="p-img">
                      <img src="/img/_/part03.png" />
                    </div>
                    <div class="attr">
                      <em>Apple iPhone 6s (A1699)</em>
                    </div>
                    <div class="price">
                      <strong>
                        <em>¥</em>
                        <i>6088.00</i>
                      </strong>
                    </div>
                    <div class="operate">
                      <a href="javascript:void(0);" class="sui-btn btn-bordered">Buy it now</a>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div id="profile" class="tab-pane">
              <p>Recommended Brand</p>
            </div>
          </div>
        </div>
        <div class="fr detail">
          <div class="clearfix fitting">
            <h4 class="kt">Choose suits</h4>
            <div class="good-suits">
              <div class="fl master">
                <div class="list-wrap">
                  <div class="p-img">
                    <img src="/img/_/l-m01.png" />
                  </div>
                  <em>￥5299</em>
                  <i>+</i>
                </div>
              </div>
              <div class="fl suits">
                <ul class="suit-list">
                  <li class="">
                    <div>
                      <img src="/img/_/dp01.png" />
                    </div>
                    <i>Feless VR</i>
                    <label data-toggle="checkbox" class="checkbox-pretty">
                      <input type="checkbox"><span>39</span>
                    </label>
                  </li>
                  <li class="">
                    <div><img src="/img/_/dp02.png" /> </div>
                    <i>Feless VR</i>
                    <label data-toggle="checkbox" class="checkbox-pretty">
                      <input type="checkbox"><span>50</span>
                    </label>
                  </li>
                  <li class="">
                    <div><img src="/img/_/dp03.png" /></div>
                    <i>Feless VR</i>
                    <label data-toggle="checkbox" class="checkbox-pretty">
                      <input type="checkbox"><span>59</span>
                    </label>
                  </li>
                  <li class="">
                    <div><img src="/img/_/dp04.png" /></div>
                    <i>Feless VR</i>
                    <label data-toggle="checkbox" class="checkbox-pretty">
                      <input type="checkbox"><span>99</span>
                    </label>
                  </li>
                </ul>
              </div>
              <div class="fr result">
                <div class="num">Have chosen 0 good</div>
                <div class="price-tit"><strong>Promotion Price</strong></div>
                <div class="price">￥5299</div>
                <button class="sui-btn  btn-danger addshopcar">Buy it now</button>
              </div>
            </div>
          </div>
          <div class="tab-main intro">
            <ul class="sui-nav nav-tabs tab-wraped">
              <li class="active">
                <a href="#one" data-toggle="tab">
                  <span>About Product</span>
                </a>
              </li>
              <li>
                <a href="#two" data-toggle="tab">
                  <span>Size</span>
                </a>
              </li>
              <li>
                <a href="#three" data-toggle="tab">
                  <span>Coverage</span>
                </a>
              </li>
              <li>
                <a href="#four" data-toggle="tab">
                  <span>Reviews</span>
                </a>
              </li>
              <li>
                <a href="#five" data-toggle="tab">
                  <span>Phone Community</span>
                </a>
              </li>
            </ul>
            <div class="clearfix"></div>
            <div class="tab-content tab-wraped">
              <div id="one" class="tab-pane active">
                <ul class="goods-intro unstyled">Resolution：1920*1080(FHD)
                  Rear camera：120000000 pixels
                  Front face camera：50000000 pixels
                  Cores：Other
                  Hdz：check on official website
                  Company： Apple
                  Product name：APPLEiPhone 6s Plus
                  Serial Number：1861098
                  Product Weight：0.51kg
                  Made in：China
                  Hot Features：Touch ID,，Apple Pay
                  System：iOS
                  Resolution：1000000000-1600000000
                  Storage：64GB</ul>
                <ul class="goods-intro unstyled">
                  <li>Resolution：1920*1080(FHD)</li>
                  <li>Rear camera：120000000 pixels</li>
                  <li>Front face camera：50000000 pixels</li>
                  <li>Cores：Other</li>
                  <li>Hdz：check on official website</li>
                  <li>Company： Apple</li>
                  <li>Product name：APPLEiPhone 6s Plus</li>
                  <li>Serial Number：1861098</li>
                  <li>Product Weight：0.51kg</li>
                  <li>Made in：China</li>
                  <li>Hot Features：Touch ID,，Apple Pay</li>
                  <li>System：iOS</li>
                  <li>Resolution：1000000000-1600000000</li>
                  <li>Storage：64GB</li>
                </ul>
                <div class="intro-detail">
                  <img src="/img/_/intro01.png" />
                  <img src="/img/_/intro02.png" />
                  <img src="/img/_/intro03.png" />
                </div>
              </div>
              <div id="two" class="tab-pane">
                <p>Size</p>
              </div>
              <div id="three" class="tab-pane">
                <p>Coverage</p>
              </div>
              <div id="four" class="tab-pane">
                <p>Reviews</p>
              </div>
              <div id="five" class="tab-pane">
                <p>Phone Community</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--like-->
      <div class="clearfix"></div>
      <div class="like">
        <h4 class="kt">Recommendation</h4>
        <div class="like-list">
          <ul class="yui3-g">
            <li class="yui3-u-1-6">
              <div class="list-wrap">
                <div class="p-img">
                  <img src="/img/_/itemlike01.png" />
                </div>
                <div class="attr">
                  <em>DELL Ins 15MR-7528SS 15'' silver laptop</em>
                </div>
                <div class="price">
                  <strong>
                    <em>¥</em>
                    <i>3699.00</i>
                  </strong>
                </div>
                <div class="commit">
                  <i class="command">6 Reviews</i>
                </div>
              </div>
            </li>
            <li class="yui3-u-1-6">
              <div class="list-wrap">
                <div class="p-img">
                  <img src="/img/_/itemlike02.png" />
                </div>
                <div class="attr">
                  <em>Apple iPhone 6s/6s Plus 16G 64G 128G</em>
                </div>
                <div class="price">
                  <strong>
                    <em>¥</em>
                    <i>4388.00</i>
                  </strong>
                </div>
                <div class="commit">
                  <i class="command">700 Reviews</i>
                </div>
              </div>
            </li>
            <li class="yui3-u-1-6">
              <div class="list-wrap">
                <div class="p-img">
                  <img src="/img/_/itemlike03.png" />
                </div>
                <div class="attr">
                  <em>DELL Ins 15MR-7528SS 15 inch Silver Laptop</em>
                </div>
                <div class="price">
                  <strong>
                    <em>¥</em>
                    <i>4088.00</i>
                  </strong>
                </div>
                <div class="commit">
                  <i class="command">700 Reviews</i>
                </div>
              </div>
            </li>
            <li class="yui3-u-1-6">
              <div class="list-wrap">
                <div class="p-img">
                  <img src="/img/_/itemlike04.png" />
                </div>
                <div class="attr">
                  <em>DELL Ins 15MR-7528SS 15 inch Silver Laptop</em>
                </div>
                <div class="price">
                  <strong>
                    <em>¥</em>
                    <i>4088.00</i>
                  </strong>
                </div>
                <div class="commit">
                  <i class="command">700 Reviews</i>
                </div>
              </div>
            </li>
            <li class="yui3-u-1-6">
              <div class="list-wrap">
                <div class="p-img">
                  <img src="/img/_/itemlike05.png" />
                </div>
                <div class="attr">
                  <em>DELL Ins 15MR-7528SS 15 inch Silver Laptop</em>
                </div>
                <div class="price">
                  <strong>
                    <em>¥</em>
                    <i>4088.00</i>
                  </strong>
                </div>
                <div class="commit">
                  <i class="command">700 Reviews</i>
                </div>
              </div>
            </li>
            <li class="yui3-u-1-6">
              <div class="list-wrap">
                <div class="p-img">
                  <img src="/img/_/itemlike06.png" />
                </div>
                <div class="attr">
                  <em>DELL Ins 15MR-7528SS 15 inch Silver Laptop</em>
                </div>
                <div class="price">
                  <strong>
                    <em>¥</em>
                    <i>4088.00</i>
                  </strong>
                </div>
                <div class="commit">
                  <i class="command">700 Reviews</i>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- 底部栏位 -->
  <!--页面底部-->
  <div class="clearfix footer">
    <div class="py-container">
      <div class="footlink">
        <div class="Mod-service">
          <ul class="Mod-Service-list">
            <li class="grid-service-item intro  intro1">

              <i class="serivce-item fl"></i>
              <div class="service-text">
                <h4>100% Authentic Guarantee</h4>
                <p>Quality Guarantee</p>
              </div>

            </li>
            <li class="grid-service-item  intro intro2">

              <i class="serivce-item fl"></i>
              <div class="service-text">
                <h4>100% Authentic Guarantee</h4>
                <p>Quality Guarantee</p>
              </div>

            </li>
            <li class="grid-service-item intro  intro3">

              <i class="serivce-item fl"></i>
              <div class="service-text">
                <h4>100% Authentic Guarantee</h4>
                <p>Quality Guarantee</p>
              </div>

            </li>
            <li class="grid-service-item  intro intro4">

              <i class="serivce-item fl"></i>
              <div class="service-text">
                <h4>100% Authentic Guarantee</h4>
                <p>Quality Guarantee</p>
              </div>

            </li>
            <li class="grid-service-item intro intro5">

              <i class="serivce-item fl"></i>
              <div class="service-text">
                <h4>100% Authentic Guarantee</h4>
                <p>Quality Guarantee</p>
              </div>

            </li>
          </ul>
        </div>
        <div class="clearfix Mod-list">
          <div class="yui3-g">
            <div class="yui3-u-1-6">
              <h4>Shopping Guidance</h4>
              <ul class="unstyled">
                <li>Shopping Process</li>
                <li>Membership</li>
                <li>Group Buying</li>
                <li>Recent Q&A</li>
                <li>Shopping Guidance</li>
              </ul>

            </div>
            <div class="yui3-u-1-6">
              <h4>Ways of Delivery</h4>
              <ul class="unstyled">
                <li>Pick Up</li>
                <li>Delivery</li>
                <li>Search Delivery Service</li>
                <li>Delivery Fees</li>
                <li>International Delivery</li>
              </ul>
            </div>
            <div class="yui3-u-1-6">
              <h4>Payment Method</h4>
              <ul class="unstyled">
                <li>Cash on Delivery</li>
                <li>Online Payment</li>
                <li>Installment Plans</li>
                <li>Pay by Mail</li>
                <li>Enterprise Payments</li>
              </ul>
            </div>
            <div class="yui3-u-1-6">
              <h4>Service</h4>
              <ul class="unstyled">
                <li>Service Policy</li>
                <li>Price Protection</li>
                <li>Refund Policy</li>
                <li>Repair/Return/Exchange Policy</li>
                <li>Cancel Order</li>
              </ul>
            </div>
            <div class="yui3-u-1-6">
              <h4>Special Service</h4>
              <ul class="unstyled">
                <li>Auction</li>
                <li>DIY</li>
                <li>Extended Warranty Service</li>
                <li>B2B2C Platform E-Card</li>
                <li>B2B2C Platform Contact</li>
              </ul>
            </div>
            <div class="yui3-u-1-6">
              <h4>Helping Center</h4>
              <img src="/img/erwei_jz.png">
            </div>
          </div>
        </div>
        <div class="Mod-copyright">
          <ul class="helpLink">
            <li>About Us<span class="space"></span></li>
            <li>Contact Us<span class="space"></span></li>
            <li>About Us<span class="space"></span></li>
            <li>Retailers Move in<span class="space"></span></li>
            <li>Selling Center<span class="space"></span></li>
            <li>Sponsor<span class="space"></span></li>
            <li>About Us<span class="space"></span></li>
            <li>Selling Center<span class="space"></span></li>
            <li>Sponsor<span class="space"></span></li>
            <li>About Us</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  </div>

  <div class="J-global-toolbar">
    <div class="toolbar-wrap J-wrap">
      <div class="toolbar">
        <div class="toolbar-panels J-panel">

          <div style="visibility: hidden;" class="J-content toolbar-panel tbar-panel-cart toolbar-animate-out">
            <h3 class="tbar-panel-header J-panel-header">
              <a href="" class="title"><i></i><em class="title">Shopping Cart</em></a>
              <span class="close-panel J-close" onclick="cartPanelView.tbar_panel_close('cart');"></span>
            </h3>
            <div class="tbar-panel-main">
              <div class="tbar-panel-content J-panel-content">
                <div id="J-cart-tips" class="tbar-tipbox hide">
                  <div class="tip-inner">
                    <span class="tip-text">You have logged in. Please login so your shoppint cart will be saved.</span>
                    <a href="#none" class="tip-btn J-login">Login</a>
                  </div>
                </div>
                <div id="J-cart-render">
]                  <div id="cart-list" class="tbar-cart-list">
                  </div>
                </div>
              </div>
            </div>

]            <div id="cart-footer" class="tbar-panel-footer J-panel-footer">
              <div class="tbar-checkout">
                <div class="jtc-number"> <strong class="J-count" id="cart-number">0</strong>Item </div>
                <div class="jtc-sum"> Total：<strong class="J-total" id="cart-sum">¥0</strong> </div>
                <a class="jtc-btn J-btn" href="#none" target="_blank">Check out</a>
              </div>
            </div>
          </div>

          <div style="visibility: hidden;" data-name="follow" class="J-content toolbar-panel tbar-panel-follow">
            <h3 class="tbar-panel-header J-panel-header">
              <a href="#" target="_blank" class="title"> <i></i> <em class="title">My wish lists</em> </a>
              <span class="close-panel J-close" onclick="cartPanelView.tbar_panel_close('follow');"></span>
            </h3>
            <div class="tbar-panel-main">
              <div class="tbar-panel-content J-panel-content">
                <div class="tbar-tipbox2">
                  <div class="tip-inner"> <i class="i-loading"></i> </div>
                </div>
              </div>
            </div>
            <div class="tbar-panel-footer J-panel-footer"></div>
          </div>

          <div style="visibility: hidden;" class="J-content toolbar-panel tbar-panel-history toolbar-animate-in">
            <h3 class="tbar-panel-header J-panel-header">
              <a href="#" target="_blank" class="title"> <i></i> <em class="title">My purchase history</em> </a>
              <span class="close-panel J-close" onclick="cartPanelView.tbar_panel_close('history');"></span>
            </h3>
            <div class="tbar-panel-main">
              <div class="tbar-panel-content J-panel-content">
                <div class="jt-history-wrap">
                  <a href="#" class="history-bottom-more" target="_blank">Check more archived products &gt;&gt;</a>
                </div>
              </div>
            </div>
            <div class="tbar-panel-footer J-panel-footer"></div>
          </div>

        </div>

        <div class="toolbar-header"></div>

        <div class="toolbar-tabs J-tab">
          <div onclick="cartPanelView.tabItemClick('cart')" class="toolbar-tab tbar-tab-cart" data="Shopping Cart" tag="cart">
            <i class="tab-ico"></i>
            <em class="tab-text"></em>
            <span class="tab-sub J-count " id="tab-sub-cart-count">0</span>
          </div>
          <div onclick="cartPanelView.tabItemClick('follow')" class="toolbar-tab tbar-tab-follow" data="My wish lists"
            tag="follow">
            <i class="tab-ico"></i>
            <em class="tab-text"></em>
            <span class="tab-sub J-count hide">0</span>
          </div>
          <div onclick="cartPanelView.tabItemClick('history')" class="toolbar-tab tbar-tab-history" data="My Purchase history"
            tag="history">
            <i class="tab-ico"></i>
            <em class="tab-text"></em>
            <span class="tab-sub J-count hide">0</span>
          </div>
        </div>

        <div class="toolbar-footer">
          <div class="toolbar-tab tbar-tab-top"> <a href="#"> <i class="tab-ico  "></i> <em
                class="footer-tab-text">Top</em> </a> </div>
          <div class="toolbar-tab tbar-tab-feedback"> <a href="#" target="_blank"> <i class="tab-ico"></i> <em
                class="footer-tab-text ">Feedback</em> </a> </div>
        </div>

        <div class="toolbar-mini"></div>

      </div>

      <div id="J-toolbar-load-hook"></div>

    </div>
  </div>




</body>

</html>
